<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project-manager</title>
    <!--Import Google Icon Font-->

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="styles/styles.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<nav class="cyan darken-4" role="navigation">
    <div class="nav-wrapper container">

        <ul id="slide-out" class="side-nav">
            <li><div class="userView">
                <div class="background  cyan darken-4">
                </div>
                <a href="#!name"><span class="white-text name">Iconix</span></a>
                <a href="#!name"><i class="tiny material-icons md-light right">edit</i><span class="white-text name">Идрисова Файруза</span></a>
                <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
            </li>
            <li><a href="#!">Проекты</a></li>
            <li><a href="#!">Сотрудники</a></li>
            <li><a href="#!">Команды</a></li>
            <li><div class="divider"></div></li>

        </ul>
        <a href="#" data-activates="slide-out" class="show-on-large button-collapse"><i class="material-icons">menu</i></a>
        <a id="logo-container" href="#" class="brand-logo right">Iconix Manager</a>


    </div>
</nav>
<div class="container">


    <!--заголовок страницы начало-->
    <section class="section page-title">
        <div class="section">
            <a class="typography typography_size_z3" href="#!">Проекты</a>
            <a class="typography typography_size_z2"><i class="material-icons">fast_forward</i></a>
            <a class="typography typography_size_z3" href="#!">Проект Iconix...</a>
        </div>
        <div class="row">
            <div class="col l8 m8 s12">
                <h1 class="page-title__title typography typography_size_z1">Проект Iconix для аналитиков</h1>
            </div>
        </div>
    </section>
    <!--заголовок страницы конец-->
    <!--проект начало-->
    <section class="section project">
        <a class="waves-effect waves-light btn left"><i class="material-icons right">trending_up</i>Статистика</a>
        <a class="waves-effect waves-light btn left"><i class="material-icons right">web</i>Прототипы</a>
        <a class="waves-effect waves-light btn left"><i class="material-icons right">description</i>Документация</a>
        <div class="row">
            <div class="col">
                <div class="card blue-grey darken-1 horizontal">
                    <div class="card-stacked">
                        <div class="card-content teal lighten-5">
                            <span class="card-title typography typography_size_z2">О проекте:</span>
                            <p>Позволяет создать документацию по шаблонам, соединить прототипы с ТЗ, поддерживать связь с командой. Создает условия для разработки проекта на первых этапах и управление проектом на последующих.</p>
                            <span class="card-title typography typography_size_z2">Команда:</span>
                            <p> Неуловимые</p>
                        </div>
                        <div class="card-action">
                            <div class="row">
                            <div class="right input-field">
                                <a class="" href="#">Редактировать</a>
                                <a class="" type="submit" name="action" href="#modal-delete-project">Удалить</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div id="modal-delete-project" class="modal">
                    <div class="modal-content">
                        <h4 class="typography typography_size_z3">Удаление проекта</h4>
                        <p>Вы хотите удалить проект: Iconix?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Отмена</a>
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--проект конец-->
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="actions/actions.js"></script>
<script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>
</html>